@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --mainfont: "Roboto", sans-serif;
    --primaryfont: "Poppins", sans-serif;
}
body {
    font-family: var(--primaryfont);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(115deg, #12063b, #09555c);
}
.upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:300px;
    width:300px;
    border: 2px dashed #ffffff;
    border-radius: 10px;
    background-color: #2b292965;
}
.upload-container.dragover {
    background-color: #f0f0f0;
}
#file-input {
    display: none;
}
#upload-text {
    color: #666;
}
#upload-text.dragover {
    color: #333;
}
i{
    font-size: 50px;
}
h1{
    margin-bottom: 20px;
    color: wheat;
}